@import "common-style.css";


.upload-method{
	width: 47%;
	float: left;
	height: 290px;
	padding: 0;
}
.upload-method h2{
}
.upload-method-or{
	width: 6%;
	float: left;
	height: 290px;
	font-size: 23px;
	text-align: center;
	line-height: 11em;
	font-weight: 100;
}

span.error{
	color: #f33;
}

#paste-import{
	resize: none;
	font-style: italic;
	color: #ccc;
}
#paste-import.focus{
	position: absolute;
	font-style: inherit;
	color: inherit;
	left: 0;
	margin-top: -20px;
	padding-bottom: 50px;
}


.export-order{
	overflow: hidden;
	
}
.export-order li{
	float: left;
	padding: 6px 9px;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #DFDFDF;
	display: block;
	margin-right:2px;
	cursor:we-resize;
	cursor:hand;
	cursor:grab;
	cursor:grabbing;
	cursor:-moz-grab;
	cursor:-webkit-grab;
}
.export-order li:hover{
	border: 1px solid #ccc;
	color: #D54E21;
}
.export-order li.ui-sortable-helper{
	cursor:grabbing;
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
	border: 1px solid #ccc;
}
.progress{
	border:1px solid;
	border-radius:3px;
	border-color:#cecece;
	color:#cecece;
	width:100%;
	height:40px;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#ececec 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#ececec 100%);
	background: linear-gradient(top, #f9f9f9 0%,#ececec 100%);
	overflow:hidden;
	font-size:14px;
	margin: 10px 0;
	text-shadow:1px 1px 0 rgba(255,255,255,0.6);
	position:relative;
	display: none;
}
.progress span.bar{
	display:block;
	position:absolute;
	line-height:2.6em;
	padding:2px 0;
	white-space:nowrap;
	top:0;
	bottom:0;
	left:0;
	overflow:visible;
	border-radius:2px;
}
.progress span.bar{
	background: url(../img/progress_2x.gif);
}
.progress span.bar span{
}
.progress.paused span.bar,
.progress.error span.bar{
	background: #e3eaed;
	background: -moz-linear-gradient(top,  #e3eaed 0%, #c8d7dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3eaed), color-stop(100%,#c8d7dc));
	background: -webkit-linear-gradient(top,  #e3eaed 0%,#c8d7dc 100%);
	background: -o-linear-gradient(top,  #e3eaed 0%,#c8d7dc 100%);
	background: -ms-linear-gradient(top,  #e3eaed 0%,#c8d7dc 100%);
	background: linear-gradient(top,  #e3eaed 0%,#c8d7dc 100%);
	opacity:0.8;
}
.progress.finished span.bar{
	background: #c7e9c4;
	background: -moz-linear-gradient(top, #c7e9c4 0%, #aacca7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7e9c4), color-stop(100%,#aacca7));
	background: -webkit-linear-gradient(top, #c7e9c4 0%,#aacca7 100%);
	background: -o-linear-gradient(top, #c7e9c4 0%,#aacca7 100%);
	background: -ms-linear-gradient(top, #c7e9c4 0%,#aacca7 100%);
	background: linear-gradient(top, #c7e9c4 0%,#aacca7 100%);
}
