@import "common-style.css";

table.wp-list-table{}

table.wp-list-table div.campaign-progress{
	border:1px solid;
	border-radius:3px;
	border-color:#cecece;
	width:92%;
	height:20px;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#ececec 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#ececec 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#ececec 100%);
	background: linear-gradient(top, #f9f9f9 0%,#ececec 100%);
	overflow:hidden;
	font-size:10px;
	text-shadow:1px 1px 0 rgba(255,255,255,0.6);
	position:relative;
}
table.wp-list-table div.campaign-progress span{
	display:block;
	max-width:100%;
	position:absolute;
	line-height:1.6em;
	padding:2px 0;
	top:0;
	bottom:0;
	white-space:nowrap;
}
table.wp-list-table div.campaign-progress span.bar{
	overflow:visible;
	border-radius:2px;
}
table.wp-list-table tr.status-active div.campaign-progress span.bar{
	text-shadow:none;
	background: url(../img/progress.gif);
}
table.wp-list-table tr.status-paused div.campaign-progress span.bar{
	background: #e3eaed;
	background: -moz-linear-gradient(top,  #e3eaed 0%, #c8d7dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3eaed), color-stop(100%,#c8d7dc));
	background: -webkit-linear-gradient(top,  #e3eaed 0%,#c8d7dc 100%);
	background: -o-linear-gradient(top,  #e3eaed 0%,#c8d7dc 100%);
	background: -ms-linear-gradient(top,  #e3eaed 0%,#c8d7dc 100%);
	background: linear-gradient(top,  #e3eaed 0%,#c8d7dc 100%);
	opacity:0.8;
}
table.wp-list-table tr.status-finished td, table.wp-list-table tr.status-finished th{
}
table.wp-list-table tr.status-finished:hover td, table.wp-list-table tr.status-finished:hover th{
}
table.wp-list-table tr .column-total, table.wp-list-table tr .column-open, table.wp-list-table tr .column-click, table.wp-list-table tr .column-unsubs, table.wp-list-table tr .column-bounces{
	width:10%;
	min-width:200px;
	text-align:right;
}
table.wp-list-table tr .column-status{
	width:20%;
	min-width:200px;
}
table.wp-list-table tr .column-total a, table.wp-list-table tr .column-open a, table.wp-list-table tr .column-click a, table.wp-list-table tr .column-unsubs a, table.wp-list-table tr .column-bounces a{
	text-overflow:ellipsis;
	text-align:right;
}
.mymail-icon{
	width: 16px;
	height: 16px;
	display: inline-block;
	background-repeat: no-repeat;
}

.aautoresponder-active, .aautoresponder-inactive{
	line-height: 1.4em !important;
}
.autoresponder-inactive{
	color: #aaa;
	font-style: italic;
}
.mymail-icon.progressing{background-image: url(../img/icons/progressing.png);}
.mymail-icon.draft{background-image: url(../img/icons/draft.png);}
.mymail-icon.queued{background-image: url(../img/icons/queued.png);}
.mymail-icon.no-receiver{background-image: url(../img/icons/no-receiver.png);}
.mymail-icon.paused{background-image: url(../img/icons/paused.png);}
.mymail-icon.finished{background-image: url(../img/icons/finished.png);}
.mymail-icon.active{background-image: url(../img/icons/green.png);}
.mymail-icon.inactive{background-image: url(../img/icons/red.png);}
.mymail-icon.warning{background-image: url(../img/icons/warning.png);}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	
		.mymail-icon{
			-webkit-background-size:16px 16px;
			-moz-background-size:16px 16px;
			background-size:16px 16px;
		}
		.mymail-icon.progressing{background-image: url(../img/icons/progressing_2x.png);}
		.mymail-icon.draft{background-image: url(../img/icons/draft_2x.png);}
		.mymail-icon.queued{background-image: url(../img/icons/queued_2x.png);}
		.mymail-icon.no-receiver{background-image: url(../img/icons/no-receiver_2x.png);}
		.mymail-icon.paused{background-image: url(../img/icons/paused_2x.png);}
		.mymail-icon.finished{background-image: url(../img/icons/finished_2x.png);}
		.mymail-icon.active{background-image: url(../img/icons/green_2x.png);}
		.mymail-icon.inactive{background-image: url(../img/icons/red_2x.png);}
		.mymail-icon.warning{background-image: url(../img/icons/warning_2x.png);}
		
		table.wp-list-table tr.status-active div.campaign-progress span.bar{
			background: url(../img/progress_2x.gif);
			-webkit-background-size:15px 20px;
			-moz-background-size:15px 20px;
			background-size:15px 20px;
		}
}