.piechart{
    position:relative;
}
.piechart canvas{
  
 }
.piechart span{
    position:absolute;
    display:block;
	width:90%;
    vertical-align:middle;
    top:30%;
    text-align:center;
	font-weight:700;
}

